.bg-darkblue,
.btn-darkblue {
  background-color: #0c1d36;
}

.text-darkblue {
  color: #0c1d36;
}

.btn-darkblue {
  color: #f9f9f9;
}

.btn-darkblue:hover,
.btn-darkblue:focus,
.btn-darkblue:active,
.btn-darkblue:first-child:active,
.btn-darkblue:focus-visible {
  background-color: #123d7e;
  color: #f9f9f9;
}

.thumbnail-image {
  border-radius: 50%;
  object-fit: cover;
}

/*PROFILE SECTION*/

.profile-info {
  background-color: #0c1d36;
  color: #f9f9f9;
}

.profile-info .profile-img {
  aspect-ratio: 1/1;
}

.film-img {
  max-height: 15rem;
  width: auto;
}

.cards-container {
  display: flex;
  overflow-x: auto;
  gap: 0.75rem;
}

.card-item {
  width: 13rem;
  min-width: 13rem;
}

.card-item > .card-img-top {
  max-height: 12rem;
  object-fit: cover;
}

.line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watchlist-remove {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/*MOVIES CARD*/

.card-movie-img {
  width: 9rem;
  height: 12rem;
  padding: 1rem;
}

.details-link {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.m-details {
  margin-right: 4.8rem;
}
